body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: grey;
}
.container {
  width: fit-content;
  height: 750px;
  background-color: #f4f4f4;
  margin: 60px auto;
  border-radius: 50px ;
  min-height: 500px;
  box-shadow: 10px 20px black;
}
.header {
  width: 550px;
  height: 285px;
  background-color: #6943ff;
  padding: 20px;
  border-radius: 50px 50px 0 0;
  color: white;
  font-weight: bold;
}
input {
  width: 117px;
  height: 83px;
  font-size: 58px;
  border: 1px solid #b295ff;
  border-radius: 5px;
  background-color: #6943ff;
  margin: 20px auto;
  padding-left: 25px;
  box-sizing: border-box;
}
button {
  width: 117px;
  height: 42px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
}
.section-item {
  width: 500px;
  height: 108.57px;
  margin: 10px auto;
  color: #5a537b;
  background-color: #FFFFFF;
  padding: 8px;
}

/* dark mode 
.container{
    background-color: #1F2937;
}
.section-item{
    background-color: #273549;
}

*/